# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# ArcGIS projects
*.aprx
*.atbx
*.pyt
*.tbx
*.lyrx

# Geodatabases and heavy GIS
*.gdb/
*.mdb/
*.sde
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.xml
*.ovr
*.img
*.tif
*.tiff
*.sid

# Local data & outputs
data/
Outputs/
scratch/
_Raw/
GpMessages/
ImportLog/
ParcelAnalysis.gdb/

# System
.DS_Store
Thumbs.db
